<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ventas</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>


  <nav class="navbar navbar-dark bg-dark p-4">
    <!-- Navbar content -->
  </nav>



  <div class="container mt-5 ">

    <div class="text-center mb-2 mt-5">
      <span class="fs-3">VENTAS</span>
    </div>


    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Carnet</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Yimmi Daniel Ruano Pernillo</td>
          <td>201503470</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Diego René Molina Roldán</td>
          <td>201314852 </td>

        </tr>
        <tr>
          <th scope="row">3</th>
          <td>María de Los Angeles Herrera Sumalé</td>
          <td>201504399</td>

        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Wendy Aracely Chamalé Boch</td>
          <td>201504254 </td>

        </tr>
      </tbody>

    </table>
  
  

    <div class="container">
      <div class="row justify-content-center">
        <button type="button" class="btn btn-success col-5">Listado de Libros</button>
      </div>
    </div>
  

  </div>



</body>

</html>